<template>
  <div class="q-pa-lg row justify-center">
    <div class="col" style="max-width: 900px">
      <q-table
        title="Modules"
        :data="sensors"
        :columns="columns"
        row-key="moduleName"
        flat
      >
        <template v-slot:top>
          <q-btn color="primary" label="Add module" @click="onNewRow" />
        </template>
        <template v-slot:body-cell="props">
          <q-td :props="props" class="text-center">
            <div v-if="props.col.name === 'actions'">
              <q-btn
                dense
                color="primary"
                icon="edit"
                @click="onUpdateRow(props.row)"
              />
              <q-btn
                dense
                color="primary"
                icon="delete"
                @click="onDeleteRow(props.row)"
              />
            </div>
            <div v-else>
              {{ props.row[props.col.field] }}
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog v-if="openDialog" v-model="openDialog">
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">Modules</div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            ref="moduleName"
            :error="!sensor.moduleName"
            error-message="Name is required"
            label="Module name"
            v-model="sensor.moduleName"
          />
          <q-input
            dense
            ref="moduleDescription"
            label="Module description"
            v-model="sensor.moduleDescription"
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn color="primary" label="OK" @click="onOKClick" />
          <q-btn color="primary" label="Cancel" @click="onCancelClick" />
          <q-btn color="primary" label="Add Sensor" @click="addSensor" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-if="openDialog1" v-model="openDialog1" style="width:1300px;max-width=1700">
      <q-card>
        <q-card-section>
          <div class="text-h6">Sensor</div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            v-mask="'####'"
            ref="idSensor"
            :error="!sensor.idSensor"
            error-message="Only numbers"
            label="ID sensor"
            v-model="sensor1.idSensor"
          />
          <q-input
            v-mask="'##.##'"
            ref="lowerBorderLimit"
            label="Lower border limit"
            v-model="sensor1.lowerBorderLimit"
          />
          <q-input
            v-mask="'##.##'"
            ref="upperBorderLimit"
            label="Upper border limit"
            v-model="sensor1.upperBorderLimit"
          />
          <q-input
            ref="readings"
            label="Readings"
            v-model="sensor1.readings"
          />
        </q-card-section>
        <div class="col" style="max-width: 1300px">
      <q-table
        title="Sensors"
        :data="sensors1"
        :columns="columns1"
        row-key="idSensor"
        flat
      >
        <template v-slot:body-cell="props">
          <q-td :props="props" class="text-center">
            <div v-if="props.col.name === 'actions'">
              <q-btn
                dense
                color="primary"
                icon="edit"
                @click="onUpdateRow1(props.row)"
              />
              <q-btn
                dense
                color="primary"
                icon="delete"
                @click="onDeleteRow1(props.row)"
              />
            </div>
            <div v-else>
              {{ props.row[props.col.field] }}
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
        <q-card-actions align="right">
          <q-btn color="primary" label="OK" @click="onOKClick1" />
          <q-btn color="primary" label="Cancel" @click="onCancelClick1" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
export default {
  name: 'SensorsIndex',
  data () {
    return {
      openDialog: false,
      openDialog1: false,
      sensor: null,
      sensor1: null,
      sensorModel: {
        moduleName: null,
        moduleDescription: null
      },
      sensorModel1: {
        idSensor: null,
        lowerBorderLimit: null,
        readings: null,
        upperBorderLimit: null
      },
      isMounted: false,
      sensors: [],
      sensors1: [],
      columns: [
        {
          name: 'moduleName',
          label: 'Module name',
          align: 'moduleName',
          field: 'moduleName',
          sortable: true
        },
        {
          name: 'moduleDescription',
          label: 'Module description',
          align: 'moduleDescription',
          field: 'moduleDescription',
          sortable: true
        },
        {
          name: 'actions',
          label: 'Actions',
          align: 'left',
          field: null,
          sortable: false
        }
      ],
      columns1: [
        {
          name: 'idSensor',
          label: 'ID Sensor',
          align: 'idSensor',
          field: 'idSensor',
          sortable: true
        },
        {
          name: 'lowerBorderLimit',
          label: 'Lower border limit',
          align: 'lowerBorderLimit',
          field: 'lowerBorderLimit',
          sortable: true
        },
        {
          name: 'upperBorderLimit',
          label: 'Upper border limit',
          align: 'upperBorderLimit',
          field: 'upperBorderLimit',
          sortable: true
        },
        {
          name: 'readings',
          label: 'Readings',
          align: 'readings',
          field: 'readings',
          sortable: true
        },
        {
          name: 'actions',
          label: 'Actions',
          align: 'left',
          field: null,
          sortable: false
        }
      ]
    }
  },
  mounted: function () {
    const collectionRef = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/Module')
    collectionRef.get().then((rows) => {
      rows.forEach((row) => {
        this.sensors.push(row.data())
      })
      this.isMounted = true
    })
    const collectionRef1 = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/Module/Kj2nJyQFhDiTS8jwmSPr/Sensor')
    collectionRef1.get().then((rows) => {
      rows.forEach((row) => {
        this.sensors1.push(row.data())
        // console.log('-L')
      })
      this.isMounted = true
    })
  },
  methods: {
    onNewRow () {
      this.sensor = JSON.parse(JSON.stringify(this.sensorModel))
      this.openDialog = true
    },
    onOKClick () {
      // console.log('dsadas')
      // const newLocal = 'idSensor'
      if (!this.sensorModel.moduleName) {
        // console.log(this.sensorModel.moduleName)
        // console.log(this.sensorModel.moduleName === null)
        const collectionRef = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/Module')
        if (this.sensor.moduleName === null) {
          // console.log('a')
          // collectionRef
          //   .add(this.sensor)
          //   .then((doc) => {
          //     this.sensor.moduleName = doc.id
          //     var docRef = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/Module').doc(doc.id)
          //     docRef
          //       .update({ moduleName: doc.id })
          //       .then((response) => {
          //         this.sensor.moduleName = doc.id
          //         this.sensors.push(this.sensor)
          //         this.openDialog = false
          //       })
          //       .catch(function (error) {
          //         console.error('Error adding document: ', error)
          //       })
          //   })
          //   .catch(function (error) {
          //     console.error('Error adding document: ', error)
          //   })
        } else {
          // console.log('b')
          var docRef = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/Module').doc(this.sensor.moduleName)
          docRef
            .set(this.sensor)
            .then((response) => {
              const sensor = this.sensors.find(
                (sensor) => sensor.moduleName === this.sensor.moduleName
              )
              if (sensor) {
                for (const attributeName in this.sensor) {
                  sensor[attributeName] = JSON.parse(
                    JSON.stringify(this.sensor[attributeName])
                  )
                }
              }
              this.openDialog = false
              this.sensors = []
              collectionRef.get().then((rows) => {
                rows.forEach((row) => {
                  this.sensors.push(row.data())
                })
              })
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        }
      }
    },
    onOKClick1 () {
      // console.log('dsadas')
      // const newLocal = 'idSensor'
      if (!this.sensorModel1.moduleName) {
        // console.log('duiwh')
        const collectionRef = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/Module/Kj2nJyQFhDiTS8jwmSPr/Sensor')
        if (this.sensor1.moduleName === null) {
          // collectionRef
          //   .add(this.sensor1)
          //   .then((doc) => {
          //     this.sensor1.moduleName = doc.id
          //     var docRef = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/Module/Kj2nJyQFhDiTS8jwmSPr/Sensor').doc(doc.id)
          //     docRef
          //       .update({ moduleName: doc.id })
          //       .then((response) => {
          //         this.sensor1.moduleName = doc.id
          //         this.sensors1.push(this.sensor1)
          //         this.openDialog1 = false
          //       })
          //       .catch(function (error) {
          //         console.error('Error adding document: ', error)
          //       })
          //   })
          //   .catch(function (error) {
          //     console.error('Error adding document: ', error)
          //   })
        } else {
          var docRef = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/Module/Kj2nJyQFhDiTS8jwmSPr/Sensor').doc(this.sensor1.idSensor)
          docRef
            .set(this.sensor1)
            .then((response) => {
              const sensor1 = this.sensors1.find(
                (sensor1) => sensor1.idSensor === this.sensor1.idSensor
              )
              if (sensor1) {
                for (const attributeName in this.sensor1) {
                  sensor1[attributeName] = JSON.parse(
                    JSON.stringify(this.sensor1[attributeName])
                  )
                }
              }
              this.openDialog1 = false
              this.sensors1 = []
              collectionRef.get().then((rows) => {
                rows.forEach((row) => {
                  this.sensors1.push(row.data())
                })
              })
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        }
      }
    },
    onCancelClick () {
      this.openDialog = false
    },
    onCancelClick1 () {
      this.openDialog1 = false
    },
    onUpdateRow (sensor) {
      this.sensor = JSON.parse(JSON.stringify(this.sensorModel))
      for (const attributeName in this.sensor) {
        this.sensor[attributeName] = JSON.parse(
          JSON.stringify(sensor[attributeName])
        )
      }
      this.openDialog = true
    },
    onUpdateRow1 (sensor1) {
      this.sensor1 = JSON.parse(JSON.stringify(this.sensorModel1))
      for (const attributeName in this.sensor1) {
        this.sensor1[attributeName] = JSON.parse(
          JSON.stringify(sensor1[attributeName])
        )
      }
      this.openDialog = true
    },
    onDeleteRow (row) {
      this.$q.dialog({
        title: 'Delete',
        message: 'Confirm deletion.',
        ok: true,
        cancel: true
      })
        .onOk(() => {
          const docRef = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/Module').doc(row.moduleName)
          docRef
            .delete()
            .then(() => {
              const index = this.sensors.findIndex(
                (sensor) => sensor.moduleName === row.moduleName
              )
              if (index >= 0) {
                this.sensors.splice(index, 1)
              }
            })
            .catch((error) => {
              console.error('Error removing document: ', error)
            })
        })
    },
    onDeleteRow1 (row) {
      this.$q.dialog({
        title: 'Delete',
        message: 'Confirm deletion.',
        ok: true,
        cancel: true
      })
        .onOk(() => {
          const docRef = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/Module/Kj2nJyQFhDiTS8jwmSPr/Sensor').doc(row.idSensor)
          docRef
            .delete()
            .then(() => {
              const index = this.sensors.findIndex(
                (sensor1) => sensor1.idSensor === row.idSensor
              )
              if (index >= 0) {
                this.sensors1.splice(index, 1)
              }
              this.sensors1 = []
              const collectionRef1 = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/Module/Kj2nJyQFhDiTS8jwmSPr/Sensor')
              collectionRef1.get().then((rows) => {
                rows.forEach((row) => {
                  this.sensors1.push(row.data())
                  console.log('-L')
                })
                this.isMounted = true
              })
            })
            .catch((error) => {
              console.error('Error removing document: ', error)
            })
        })
    },
    addSensor () {
      this.sensor1 = JSON.parse(JSON.stringify(this.sensorModel1))
      this.openDialog1 = true
    }
  }
}
</script>
