<template>
  <q-page>
    <q-card>
      <q-card-section>
        <div class="row">
          <div class="col-2">
            <!--q-img src="~assets/module.jpg" /-->
          </div>

          <div class="col-10 text-center">
            <div class="text-h6">International Education Program Veleri-OI IoT School</div>
            <div class="text-h6 text-grey">
              Case study of the IoT project "ARHomeSecuritySystem"
            </div>
          </div>
        </div>
      </q-card-section>
      <q-card-section v-if="center !== null">
        <GmapMap
          :center="center"
          :zoom="7"
          map-type-id="terrain"
          style="width: 100%; height: 700px"
        >
         <GmapInfoWindow
            :options="infoOptions"
            :position="infoWindowPosition"
            :opened="infoWindowOpen"
            @closeclick="infoWindowOpen=false"
          >
            <span v-html="infoWindowContent"></span>
          </GmapInfoWindow>
          <GmapMarker
            :key="index"
            v-for="(marker, index) in markers"
            :position="marker.position"
            :clickable="true"
            @click="showInfoWindow(marker, index)"
          />
        </GmapMap>
      </q-card-section>
    </q-card>
    <q-dialog
      v-if="openMeteoStationDescriptionDialog"
      v-model="openMeteoStationDescriptionDialog"
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
            Meteo station description
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          {{currentMeteoStation.description}}
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="primary"
            label="OK"
            @click="openMeteoStationDescriptionDialog = false"
          />

        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>
<script>
export default {
  name: 'WelcomePageIndex',
  data () {
    return {
      infoWindowContent: '',
      infoWindowPosition: null,
      infoWindowOpen: false,
      currentMarkerIndex: null,
      // optional: offset infowindow so it visually sits nicely on top of our marker
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
      center: null,
      markers: [],
      meteoStationListener: null,
      meteoStationSensorListeners: [],
      currentReadingListener: null,
      meteoStations: [],
      meteoStationSensors: [],
      currentReadings: [],
      currentOpenedMarker: null,
      currentUIDMeteoStation: null,
      openMeteoStationDescriptionDialog: false
    }
  },
  // components: {
  //  LineChart
  // },

  computed: {
    currentMeteoStation: function () {
      if (this.currentUIDMeteoStation === null) return null
      return this.meteoStations.find(meteoStation => meteoStation.UIDMeteoStation === this.currentUIDMeteoStation)
    },
    currentMeteoStationSensor: function () {
      if (this.currentUIDMeteoStation === null || this.currentUIDMeteoStationSensor === null) return null
      return this.meteoStationSensors.find(meteoStationSensor => meteoStationSensor.UIDMeteoStation === this.currentUIDMeteoStation && meteoStationSensor.UIDMeteoStationSensor === this.currentUIDMeteoStationSensor)
    }
  },
  mounted () {
    const vm = this
    window.openDescription = function (UIDMeteoStation) {
      vm.openDescription(UIDMeteoStation)
    }
    this.meteoStationListener = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/Module1').onSnapshot((meteoStationSnapshot) => {
      meteoStationSnapshot.docChanges().forEach(change => {
        if (change.doc.data().UIDMeteoStation !== null) {
          this.meteoStationSensorListeners.push(
            this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/Module1').doc(change.doc.data().UIDMeteoStation).collection('Sensor').onSnapshot((meteoStationSensorSnapshot) => {
              meteoStationSensorSnapshot.docChanges().forEach(change => {
                if (change.doc.data().UIDMeteoStationSensor !== null) {
                  const index = this.meteoStationSensors.findIndex(meteoStationSensor => meteoStationSensor.UIDMeteoStationSensor === change.doc.data().UIDMeteoStationSensor)
                  if (index < 0) {
                    this.meteoStationSensors.push(change.doc.data())
                  } else {
                    this.meteoStationSensors.splice(index, 1, change.doc.data())
                  }
                  this.setInfoWindowContent(change.doc.data().UIDMeteoStation)
                }
              })
            })
          )
          const index = this.meteoStations.findIndex(meteoStation => meteoStation.UIDMeteoStation === change.doc.data().UIDMeteoStation)
          if (index < 0) {
            this.meteoStations.push(change.doc.data())
          } else {
            this.meteoStations.splice(index, 1, change.doc.data())
          }
          if (change.doc.data().geoPoint.Latitude !== null && change.doc.data().geoPoint.Longitude !== null) {
            const index = this.markers.findIndex(marker => marker.UIDMeteoStation === change.doc.data().UIDMeteoStation)
            const marker = {
              UIDMeteoStation: change.doc.data().UIDMeteoStation,
              position: { lat: change.doc.data().geoPoint.Latitude, lng: change.doc.data().geoPoint.Longitude }
            }
            if (index < 0) {
              this.markers.push(marker)
              if (this.markers.length === 1) {
                this.center = marker.position
              }
            } else {
              if (index === 0) {
                this.center = marker.position
              }
              this.markers.splice(index, 1, marker)
            }
          }
          this.setInfoWindowContent(change.doc.data().UIDMeteoStation)
        }
      })
    })
    this.currentReadingListener = this.$db.collection('reading').onSnapshot((readingSnapshot) => {
      readingSnapshot.docChanges().forEach(change => {
        const index = this.currentReadings.findIndex(currentReading => currentReading.UIDMeteoStation === change.doc.data().UIDMeteoStation && currentReading.UIDMeteoStationSensor === change.doc.data().UIDMeteoStationSensor)
        if (index < 0) {
          const date = new Date(0)
          date.setSeconds(change.doc.data().readingDateTime.seconds)
          const localeDateString = date.toLocaleDateString()
          const localeTimeString = date.toLocaleTimeString()
          const currentReading = change.doc.data()
          currentReading.localeDateString = localeDateString
          currentReading.localeTimeString = localeTimeString
          this.currentReadings.push(currentReading)
        } else {
          const date1 = new Date(0)
          date1.setSeconds(this.currentReadings[index].readingDateTime.seconds)
          const date2 = new Date(0)
          date2.setSeconds(change.doc.data().readingDateTime.seconds)
          if (date1 < date2) {
            const localeDateString = date2.toLocaleDateString()
            const localeTimeString = date2.toLocaleTimeString()
            const currentReading = change.doc.data()
            currentReading.localeDateString = localeDateString
            currentReading.localeTimeString = localeTimeString
            this.currentReadings.splice(index, 1, currentReading)
          }
        }
        this.setInfoWindowContent(change.doc.data().UIDMeteoStation)
      })
      console.log(this.currentReadings)
    })
  },
  destroyed () {
    if (this.meteoStationListener !== null) {
      this.meteoStationListener()
    }
    this.meteoStationSensorListeners.forEach(meteoStationSensorListener => {
      if (meteoStationSensorListener !== null) {
        meteoStationSensorListener()
      }
    })
    if (this.currentReadingListener !== null) {
      this.currentReadingListener()
    }
  },
  methods: {
    setInfoWindowContent (UIDMeteoStation) {
      // this.currentMeteoStation = this.meteoStations.find(meteoStation => meteoStation.UIDMeteoStation === UIDMeteoStation)
      this.currentUIDMeteoStation = UIDMeteoStation
      if (this.currentOpenedMarker !== null && this.currentOpenedMarker.UIDMeteoStation === UIDMeteoStation) {
        let windowContent = ''
        const index = this.meteoStations.findIndex(meteoStation => meteoStation.UIDMeteoStation === UIDMeteoStation)
        if (index >= 0) {
          windowContent = '<strong>' + this.meteoStations[index].name + '</strong>'
          if (this.meteoStations[index].urlImage !== null) {
            windowContent = windowContent + '<br><img height="100" width="100" src="' + this.meteoStations[index].urlImage + '" alt="Meteo station image">'
          }
          windowContent = windowContent + '<br><button onclick="openDescription(\'' + UIDMeteoStation + '\')">Description</button>'
        }
        const meteoStationSensors = this.meteoStationSensors.filter(meteoStationSensor => meteoStationSensor.UIDMeteoStation === UIDMeteoStation)
        if (meteoStationSensors.length > 0) {
          windowContent = windowContent + '<hr>'
        }
        meteoStationSensors.forEach(meteoStationSensor => {
          // windowContent = windowContent + '<p><button onclick="openReadings(\'' + UIDMeteoStation + '\', \'' + meteoStationSensor.UIDMeteoStationSensor + '\')">...</button>' + meteoStationSensor.description
          windowContent = windowContent + '<p>' + meteoStationSensor.description
          console.log('Hello')
          console.log(meteoStationSensor.sensor.readings)
          const currentReading = this.currentReadings.filter(currentReading => currentReading.UIDMeteoStation === UIDMeteoStation && currentReading.UIDMeteoStationSensor === meteoStationSensor.UIDMeteoStationSensor)
          if (currentReading.length > 0) {
            const textColor = 'green'
            if ((meteoStationSensor.lowerLimit !== null && currentReading[0].value < meteoStationSensor.lowerLimit) || (meteoStationSensor.upperLimit !== null && currentReading[0].value > meteoStationSensor.upperLimit)) {
              const textColor = 'red'
              console.log(textColor)
            }
            windowContent = windowContent + ': <span style="color: ' + textColor + '">' + currentReading[0].value + meteoStationSensor.sensor.unitOfMeasure + '</span>[' + currentReading[0].localeDateString + ' ' + currentReading[0].localeTimeString + ']'
          }
          windowContent = windowContent + ' [' + meteoStationSensor.sensor.readings + ']' + '</p>'
        })

        this.infoWindowContent = windowContent
      }
    },
    openDescription (UIDMeteoStation) {
      if (typeof this.currentMeteoStation !== 'undefined') {
        this.openMeteoStationDescriptionDialog = true
      }
    },
    showInfoWindow (marker, index) {
      this.currentOpenedMarker = marker
      this.infoWindowPosition = marker.position
      // this.infoWindowContent = marker.infoText
      this.setInfoWindowContent(marker.UIDMeteoStation)
      // check if its the same marker that was selected if yes toggle
      if (this.currentMarkerIndex === index) {
        this.infoWindowOpen = !this.infoWindowOpen
      } else {
        // if different marker set infowindow to open and reset current marker index
        this.infoWindowOpen = true
        this.currentMarkerIndex = index
      }
    },
    openReadings (UIDMeteoStation, UIDMeteoStationSensor) {
      this.currentUIDMeteoStationSensor = UIDMeteoStationSensor
      this.readings = []

      this.chartData = {
        labels: [],
        datasets: [
          {
            label: 'Readings',
            data: []
          }
        ]
      }
      this.readingsListener = this.$db.collection('reading')
        .where('UIDMeteoStation', '==', UIDMeteoStation)
        .where('UIDMeteoStationSensor', '==', UIDMeteoStationSensor)
        .orderBy('readingDateTime')
        .onSnapshot((readingSnapshot) => {
          readingSnapshot.docChanges().forEach(change => {
            if (typeof change.doc.data().UIDReading !== 'undefined' && change.doc.data().UIDReading !== null) {
              const date = new Date(0)
              date.setSeconds(change.doc.data().readingDateTime.seconds)
              const localeDateString = date.toLocaleDateString()
              const localeTimeString = date.toLocaleTimeString()
              const reading = change.doc.data()
              reading.localeDateString = localeDateString
              reading.localeTimeString = localeTimeString
              this.chartData.labels.push(localeDateString + '[' + localeTimeString + ']')
              this.chartData.datasets[0].data.push(reading.value)
            }
          })
          this.updateChart = !this.updateChart
        })
      this.openReadingsDialog = true
    },
    closeReadings () {
      if (this.readingsListener !== null) {
        this.readingsListener()
      }
      this.openReadingsDialog = false
    }
  }
}
</script>
