<template>
  <div class="q-pa-lg row justify-center">
    <div class="col" style="max-width: 900px">
      <q-table
        title="Sensors"
        :data="sensors"
        :columns="columns"
        row-key="idSensor"
        flat
      >
        <template v-slot:top>
          <q-btn color="primary" label="Add sensor" @click="onNewRow" />
        </template>
        <template v-slot:body-cell="props">
          <q-td :props="props">
            <div v-if="props.col.name === 'actions'">
              <q-btn
                dense
                color="primary"
                icon="edit"
                @click="onUpdateRow(props.row)"
              />
              <q-btn
                dense
                color="primary"
                icon="delete"
                @click="onDeleteRow(props.row)"
              />
            </div>
            <div v-else>
              {{ props.row[props.col.field] }}
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog v-if="openDialog" v-model="openDialog">
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">Sensor</div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            ref="idSensor"
            :error="!sensor.idSensor"
            error-message="ID is required."
            label="idSensor"
            v-model="sensor.idSensor"
          />
          <q-input
            ref="lowerBorderLimit"
            :error="!sensor.lowerBorderLimit"
            error-message="lowerBorderLimit"
            label="lowerBorderLimit"
            v-model="sensor.lowerBorderLimit"
          />
          <q-input
            ref="readings"
            :error="!sensor.readings"
            error-message="readings"
            label="readings"
            v-model="sensor.readings"
          />
          <q-input
            ref="upperBorderLimit"
            :error="!sensor.upperBorderLimit"
            error-message="upperBorderLimit"
            label="upperBorderLimit"
            v-model="sensor.upperBorderLimit"
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn color="primary" label="OK" @click="onOKClick" />
          <q-btn color="primary" label="Cancel" @click="onCancelClick" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
export default {
  name: 'SensorsIndex',
  data () {
    return {
      openDialog: false,
      sensor: null,
      sensorModel: {
        idSensor: null,
        lowerBorderLimit: null,
        readings: null,
        upperBorderLimit: null
      },
      isMounted: false,
      sensors: [],
      columns: [
        {
          name: 'idSensor',
          label: 'idSensor',
          align: 'idSensor',
          field: 'idSensor',
          sortable: true
        },
        {
          name: 'lowerBorderLimit',
          label: 'lowerBorderLimit',
          align: 'lowerBorderLimit',
          field: 'lowerBorderLimit',
          sortable: true
        },
        {
          name: 'readings',
          label: 'readings',
          align: 'readings',
          field: 'readings',
          sortable: true
        },
        {
          name: 'upperBorderLimit',
          label: 'upperBorderLimit',
          align: 'upperBorderLimit',
          field: 'upperBorderLimits',
          sortable: true
        },
        {
          name: 'actions',
          label: 'Actions',
          align: 'left',
          field: null,
          sortable: false
        }
      ]
    }
  },
  mounted: function () {
    const collectionRef = this.$db.collection('/HUB/Module/Sensor')
    collectionRef.get().then((rows) => {
      rows.forEach((row) => {
        this.sensors.push(row.data())
      })
      this.isMounted = true
    })
  },
  methods: {
    onNewRow () {
      this.sensor = JSON.parse(JSON.stringify(this.sensorModel))
      this.openDialog = true
    },
    onOKClick () {
      // console.log('dsadas')
      // const newLocal = 'idSensor'
      if (!this.sensorModel.idSensor) {
        // console.log('duiwh')
        const collectionRef = this.$db.collection('/HUB/Module/Sensor')
        if (this.sensor.idSensor === null) {
          collectionRef
            .add(this.sensor)
            .then((doc) => {
              this.sensor.idSensor = doc.id
              var docRef = this.$db.collection('/HUB/Module/Sensor').doc(doc.id)
              docRef
                .update({ idSensor: doc.id })
                .then((response) => {
                  this.sensor.idSensor = doc.id
                  this.sensors.push(this.sensor)
                  this.openDialog = false
                })
                .catch(function (error) {
                  console.error('Error adding document: ', error)
                })
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        } else {
          var docRef = this.$db.collection('/HUB/Module/Sensor').doc(this.sensor.idSensor)
          docRef
            .set(this.sensor)
            .then((response) => {
              const sensor = this.sensors.find(
                (sensor) => sensor.idSensor === this.sensor.idSensor
              )
              if (sensor) {
                for (const attributeName in this.sensor) {
                  sensor[attributeName] = JSON.parse(
                    JSON.stringify(this.sensor[attributeName])
                  )
                }
              }
              this.openDialog = false
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        }
      }
    },
    onCancelClick () {
      this.openDialog = false
    },
    onUpdateRow (sensor) {
      this.sensor = JSON.parse(JSON.stringify(this.sensorModel))
      for (const attributeName in this.sensor) {
        this.sensor[attributeName] = JSON.parse(
          JSON.stringify(sensor[attributeName])
        )
      }
      this.openDialog = true
    },
    onDeleteRow (row) {
      this.$q.dialog({
        title: 'Delete',
        message: 'Confirm deletion.',
        ok: true,
        cancel: true
      })
        .onOk(() => {
          const docRef = this.$db.collection('sensor').doc(row.idSensor)
          docRef
            .delete()
            .then(() => {
              const index = this.sensors.findIndex(
                (sensor) => sensor.idSensor === row.idSensor
              )
              if (index >= 0) {
                this.sensors.splice(index, 1)
              }
            })
            .catch((error) => {
              console.error('Error removing document: ', error)
            })
        })
    }
  }
}
</script>
