<template>
  <div class="q-pa-lg row justify-center">
    <div class="col" style="max-width: 900px">
      <div class="q-pb-md">
        <q-btn color="primary" label="Add module" @click="onNewMeteoStation" />
      </div>
      <q-list bordered>
        <div
          v-for="(meteoStation, meteoStationIndex) in meteoStations"
          :key="meteoStation.UIDMeteoStation"
        >
          <q-expansion-item
            group="meteoStations"
            :label="meteoStation.name"
            :default-opened="meteoStationIndex === 0"
            header-class="bg-grey text-bold"
            dense
          >
            <q-card>
              <q-card-actions align="right">
                <q-btn
                  dense
                  color="primary"
                  icon="edit"
                  @click="onUpdateMeteoStation(meteoStation)"
                />
                <q-btn
                  dense
                  color="primary"
                  icon="delete"
                  @click="onDeleteMeteoStation(meteoStation)"
                />
              </q-card-actions>
              <q-separator />
              <q-card-section>
                <div class="row">
                  <div class="col-6 q-pr-xs">
                    <q-input
                      readonly
                      dense
                      label="Name"
                      v-model="meteoStation.name"
                    />
                    <q-input
                      readonly
                      dense
                      label="Description"
                      v-model="meteoStation.description"
                    />
                    <div class="row">
                      <div class="col">
                        <q-input
                          readonly
                          dense
                          label="Latitude"
                          v-model="meteoStation.geoPoint.Latitude"
                        />
                      </div>
                      <div class="col">
                        <q-input
                          readonly
                          dense
                          label="Longitude"
                          v-model="meteoStation.geoPoint.Longitude"
                        />
                      </div>
                    </div>
                    <q-input
                      readonly
                      dense
                      label="ID"
                      v-model="meteoStation.IDMeteoStation"
                    />
                  </div>
                  <div class="col-6 q-pl-xs">
                    <div class="text-center q-pa-xs">
                      <croppa
                        ref="croppa"
                        crossOrigin="anonymous"
                        :width="150"
                        :height="150"
                        :accept="'image/*'"
                        :prevent-white-space="true"
                        :placeholder-font-size="18"
                        :file-size-limit="1 * 1024 * 1024"
                        :quality="1"
                        :remove-button-color="'red'"
                        :remove-button-size="30"
                        placeholder="Choose image"
                        :disable-drag-to-move="!uploadButton"
                        v-model="meteoStation.photo"
                        :initial-image="meteoStation.urlImage?meteoStation.urlImage:initialImage?initialImage:null"
                        @image-remove="removeImage(meteoStation)"
                        @file-type-mismatch="onError('File type mismatch')"
                        @file-size-exceed="onError('File size exceed')"
                        @file-choose="uploadButton=true"
                      >
                      </croppa>
                      <q-btn
                        flat
                        color="primary"
                        v-if="uploadButton"
                        class="full-width"
                        @click="uploadCroppedImage(meteoStation)"
                        label="Set image"
                        icon="image"
                      />
                      <!--  && $q.platform.is.mobile -->
                      <q-btn
                        flat
                        color="primary"
                        v-if="!uploadButton && $q.platform.is.mobile"
                        class="full-width"
                        @click="openCamera(meteoStation)"
                        icon="camera_alt"
                      />
                    <div class="btns">
                      <!-- <button @click="download">download</button>
                      <button @click="download('image/jpeg')">download JPEG</button>
                      <button @click="download('image/jpeg', 0.8)">download 20% compressed JPEG</button> -->
                      <!-- <button @click="test1()">Test</button> -->
                    </div>
                    </div>
                  </div>
                </div>
              </q-card-section>
              <q-card-section>
                <q-card flat bordered>
                  <q-card-section>
                    <div class="text-bold">Sensors</div>
                  </q-card-section>
                  <q-separator />
                  <q-card-section>
                    <div class="q-pb-md">
                      <q-btn
                        color="primary"
                        label="Add sensor"
                        @click="onNewMeteoStationSensor(meteoStation)"
                      />
                    </div>
                    <q-list bordered>
                      <div
                        v-for="(
                          meteoStationSensor, meteoStationSensorIndex
                        ) in meteoStation.meteoStationSensors"
                        :key="meteoStationSensor.UIDMeteoStationSensor"
                      >
                        <q-expansion-item
                          group="meteoStationSensors"
                          :label="
                            meteoStationSensor.sensor
                              ? meteoStationSensor.description +
                                ' [' +
                                meteoStationSensor.sensor.type +
                                ']'
                              : meteoStationSensor.description
                          "
                          :default-opened="meteoStationSensorIndex === 0"
                          header-class="bg-blue-1 text-bold"
                          dense
                        >
                          <q-card>
                            <q-card-actions align="right">
                              <q-btn
                                dense
                                color="primary"
                                icon="edit"
                                @click="
                                  onUpdateMeteoStationSensor(
                                    meteoStation,
                                    meteoStationSensor
                                  )
                                "
                              />
                              <q-btn
                                dense
                                color="primary"
                                icon="delete"
                                @click="
                                  onDeleteMeteoStationSensor(
                                    meteoStation,
                                    meteoStationSensor
                                  )
                                "
                              />
                            </q-card-actions>
                            <q-separator />
                            <q-card-section>
                              <div class="row">
                                <div class="col-6 q-pr-xs">
                                  <q-input
                                    v-if="meteoStationSensor.sensor"
                                    label="Sensor"
                                    readonly
                                    dense
                                    v-model="meteoStationSensor.sensor.type"
                                  />
                                  <q-input
                                    label="Description"
                                    type="textarea"
                                    readonly
                                    dense
                                    v-model="meteoStationSensor.description"
                                  />
                                </div>
                                <div class="col-6 q-pl-xs">
                                  <div class="row">
                                    <div class="col">
                                      <q-input
                                        label="Lower limit"
                                        type="number"
                                        readonly
                                        dense
                                        v-model="meteoStationSensor.lowerLimit"
                                      />
                                    </div>
                                    <div class="col">
                                      <q-input
                                        label="Upper limit"
                                        type="number"
                                        readonly
                                        dense
                                        v-model="meteoStationSensor.upperLimit"
                                      />
                                    </div>
                                  </div>
                                  <q-input
                                    label="Sensor ID"
                                    readonly
                                    dense
                                    v-model="meteoStationSensor.IDSensor"
                                  />
                                </div>
                              </div>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                      </div>
                    </q-list>
                  </q-card-section>
                </q-card>
              </q-card-section>
            </q-card>
          </q-expansion-item>
          <q-separator />
        </div>
      </q-list>
    </div>
    <q-dialog v-if="openMeteoStationDialog" v-model="openMeteoStationDialog">
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">Meteo station</div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            ref="Name"
            :error="!meteoStation.name || meteoStation.name.length === 0"
            error-message="Name is required."
            label="Name"
            v-model="meteoStation.name"
          />
          <q-input
            label="Description"
            type="textarea"
            v-model="meteoStation.description"
          />
          <div class="row">
            <div class="col">
              <q-input
                ref="Latitude"
                :error="
                  !meteoStation.geoPoint.Latitude &&
                  meteoStation.geoPoint.Latitude !== 0
                "
                error-message="Latitude is required."
                label="Latitude"
                type="number"
                v-model.number="meteoStation.geoPoint.Latitude"
              />
            </div>
            <div class="col">
              <q-input
                ref="Longitude"
                :error="
                  !meteoStation.geoPoint.Longitude &&
                  meteoStation.geoPoint.Longitude !== 0
                "
                error-message="Longitude is required."
                label="Longitude"
                type="number"
                v-model.number="meteoStation.geoPoint.Longitude"
              />
            </div>
            <!-- row  v-if="$q.platform.is.mobile" -->
            <div class="row">
            <div class="col">
              <q-btn
              dense
              class="full-width"
              color="primary"
              icon="location_searching"
              label="Search location"
              @click="getGeolocation(meteoStation)"
              />
            </div>
            </div>

          </div>
          <q-input
            label="Meteo station ID"
            v-model="meteoStation.IDMeteoStation"
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="primary"
            label="OK"
            @click="onOKMeteoStationDialogClick"
          />
          <q-btn
            color="primary"
            label="Cancel"
            @click="onCancelMeteoStationDialogClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog
      v-if="openMeteoStationSensorDialog"
      v-model="openMeteoStationSensorDialog"
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">Sensor</div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-select
            label="Sensor"
            dense
            v-model="meteoStationSensor.sensor"
            :options="sensors"
            option-value="UIDSensor"
            option-label="type"
          />
          <q-input
            label="Description"
            type="textarea"
            v-model="meteoStationSensor.description"
          />
          <div class="row">
            <div class="col">
              <q-input
                label="Lower limit"
                type="number"
                v-model.number="meteoStationSensor.lowerLimit"
              />
            </div>
            <div class="col">
              <q-input
                label="Upper limit"
                type="number"
                v-model.number="meteoStationSensor.upperLimit"
              />
            </div>
          </div>
          <q-input label="Sensor ID" v-model="meteoStationSensor.IDSensor" />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="primary"
            label="OK"
            @click="onOKMeteoStationSensorDialogClick"
          />
          <q-btn
            color="primary"
            label="Cancel"
            @click="onCancelMeteoStationSensorDialogClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { component as croppa } from 'vue-croppa'

export default {
  name: 'MeteoStationsIndex',
  components: {
    croppa
  },
  data () {
    return {
      isMounted: false,
      croppaimg: {},
      dataUrl: '',
      openMeteoStationDialog: false,
      openMeteoStationSensorDialog: false,
      meteoStations: [],
      meteoStation: null,
      meteoStationModel: {
        UIDMeteoStation: null,
        geoPoint: {
          Latitude: null,
          Longitude: null
        },
        name: null,
        description: null,
        urlImage: null,
        IDMeteoStation: null
      },
      currentMeteoStation: null,
      meteoStationSensor: null,
      meteoStationSensorModel: {
        UIDMeteoStation: null,
        UIDMeteoStationSensor: null,
        sensor: null,
        description: null,
        lowerLimit: null,
        upperLimit: null,
        IDSensor: null
      },
      uploadButton: false,
      initialImage: null,
      sensors: [],
      customUrlImg: null
    }
  },
  mounted: async function () {
    let collectionRef = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/Module1')
    await collectionRef.get().then((meteoStations) => {
      meteoStations.forEach(async (meteoStation) => {
        const meteoStationFromDB = meteoStation.data()
        this.$set(meteoStationFromDB, 'Sensor', [])
        this.$set(meteoStationFromDB, 'photo', {})
        const subCollectionRef = collectionRef
          .doc(meteoStation.data().UIDMeteoStation)
          .collection('/Sensor')
        await subCollectionRef.get().then((meteoStationSensors) => {
          const meteoStationSensorsFromDB = []
          meteoStationSensors.forEach((meteoStationSensor) => {
            meteoStationSensorsFromDB.push(meteoStationSensor.data())
          })
          meteoStationFromDB.meteoStationSensors = meteoStationSensorsFromDB
          this.meteoStations.push(meteoStationFromDB)
          this.isMounted = true
        })
      })
    })
    collectionRef = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/Sensor')
    collectionRef.get().then((sensors) => {
      sensors.forEach((sensor) => {
        this.sensors.push(sensor.data())
      })
    })
  },
  methods: {
    onNewMeteoStation () {
      this.meteoStation = JSON.parse(JSON.stringify(this.meteoStationModel))
      this.openMeteoStationDialog = true
    },
    onNewMeteoStationSensor (meteoStation) {
      this.currentMeteoStation = meteoStation
      this.meteoStationSensor = JSON.parse(
        JSON.stringify(this.meteoStationSensorModel)
      )
      this.meteoStationSensor.UIDMeteoStation = this.currentMeteoStation.UIDMeteoStation
      this.openMeteoStationSensorDialog = true
    },
    onOKMeteoStationDialogClick () {
      if (!this.$refs.name != null) {
        const collectionRef = this.$db.collection(
          '/HUB/LILrTQUpzv3aqUewoS5S/Module1'
        )
        if (this.meteoStation.UIDMeteoStation === null) {
          collectionRef
            .add(this.meteoStation)
            .then((doc) => {
              var docRef = this.$db
                .collection('/HUB/LILrTQUpzv3aqUewoS5S/Module1')
                .doc(doc.id)
              docRef
                .update({ UIDMeteoStation: doc.id })
                .then((response) => {
                  this.meteoStation.UIDMeteoStation = doc.id
                  this.$set(this.meteoStation, 'Sensor', [])
                  this.meteoStations.push(this.meteoStation)
                  this.openMeteoStationDialog = false
                })
                .catch(function (error) {
                  console.error('Error adding document: ', error)
                })
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        } else {
          var docRef = this.$db
            .collection('/HUB/LILrTQUpzv3aqUewoS5S/Module1')
            .doc(this.meteoStation.UIDMeteoStation)
          docRef
            .set(this.meteoStation)
            .then((response) => {
              const meteoStation = this.meteoStations.find(
                (meteoStation) =>
                  meteoStation.UIDMeteoStation ===
                  this.meteoStation.UIDMeteoStation
              )
              if (meteoStation) {
                for (const attributeName in this.meteoStation) {
                  meteoStation[attributeName] = JSON.parse(
                    JSON.stringify(this.meteoStation[attributeName])
                  )
                }
              }
              this.openMeteoStationDialog = false
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        }
      }
    },
    onOKMeteoStationSensorDialogClick () {
      const collectionRef = this.$db
        .collection('/HUB/LILrTQUpzv3aqUewoS5S/Module1')
        .doc(this.currentMeteoStation.UIDMeteoStation)
        .collection('Sensor') // NE
      if (this.meteoStationSensor.UIDMeteoStationSensor === null) {
        collectionRef
          .add(this.meteoStationSensor)
          .then((doc) => {
            var docRef = collectionRef.doc(doc.id)
            docRef
              .update({ UIDMeteoStationSensor: doc.id })
              .then((response) => {
                this.meteoStationSensor.UIDMeteoStationSensor = doc.id
                this.currentMeteoStation.meteoStationSensors.push(
                  this.meteoStationSensor
                )
                this.openMeteoStationSensorDialog = false
              })
              .catch(function (error) {
                console.error('Error adding document: ', error)
              })
          })
          .catch(function (error) {
            console.error('Error adding document: ', error)
          })
      } else {
        var docRef = this.$db
          .collection('/HUB/LILrTQUpzv3aqUewoS5S/Module1')
          .doc(this.currentMeteoStation.UIDMeteoStation)
          .collection('/Sensor')
          .doc(this.meteoStationSensor.UIDMeteoStationSensor)
        docRef
          .set(this.meteoStationSensor)
          .then((response) => {
            const meteoStationSensor = this.currentMeteoStation.meteoStationSensors.find(
              (meteoStationSensor) =>
                meteoStationSensor.UIDMeteoStationSensor ===
                this.meteoStationSensor.UIDMeteoStationSensor
            )
            if (meteoStationSensor) {
              for (const attributeName in this.meteoStationSensor) {
                meteoStationSensor[attributeName] = JSON.parse(
                  JSON.stringify(this.meteoStationSensor[attributeName])
                )
              }
            }
            this.openMeteoStationSensorDialog = false
          })
          .catch(function (error) {
            console.error('Error adding document: ', error)
          })
      }
    },
    onCancelMeteoStationDialogClick () {
      this.openMeteoStationDialog = false
    },
    onCancelMeteoStationSensorDialogClick () {
      this.openMeteoStationSensorDialog = false
    },
    onUpdateMeteoStation (meteoStation) {
      this.meteoStation = JSON.parse(JSON.stringify(this.meteoStationModel))
      for (const attributeName in this.meteoStation) {
        this.meteoStation[attributeName] = JSON.parse(
          JSON.stringify(meteoStation[attributeName])
        )
      }
      this.openMeteoStationDialog = true
    },
    onUpdateMeteoStationSensor (meteoStation, meteoStationSensor) {
      this.currentMeteoStation = meteoStation
      this.meteoStationSensor = JSON.parse(
        JSON.stringify(this.meteoStationSensorModel)
      )
      for (const attributeName in this.meteoStationSensor) {
        this.meteoStationSensor[attributeName] = JSON.parse(
          JSON.stringify(meteoStationSensor[attributeName])
        )
      }
      this.openMeteoStationSensorDialog = true
    },
    onDeleteMeteoStation (row) {
      this.$q
        .dialog({
          title: 'Delete',
          message: 'Confirm deletion.',
          ok: true,
          cancel: true
        })
        .onOk(() => {
          const docRef = this.$db
            .collection('/HUB/LILrTQUpzv3aqUewoS5S/Module1')
            .doc(row.UIDMeteoStation)
          row.meteoStationSensors.forEach((meteoStationSensor) => {
            docRef
              .collection('/HUB/LILrTQUpzv3aqUewoS5S/Sensor')
              .doc(meteoStationSensor.UIDMeteoStationSensor)
              .delete()
              .then(() => {
                console.log(
                  'Document in subcollection deleted: ',
                  meteoStationSensor.UIDMeteoStationSensor
                )
              })
              .catch((error) => {
                console.error(
                  'Error deleting document in subcollection: ',
                  error
                )
              })
          })
          docRef
            .delete()
            .then(() => {
              const index = this.meteoStations.findIndex(
                (meteoStation) =>
                  meteoStation.UIDMeteoStation === row.UIDMeteoStation
              )
              if (index >= 0) {
                this.meteoStations.splice(index, 1)
              }
              if (row.urlImage) {
                const storageRef = this.$storage.ref()
                const imageRef = storageRef.child(row.UIDMeteoStation)
                imageRef
                  .delete()
                  .then(() => {})
                  .catch((error) => {
                    console.error('Error deleting image: ', error)
                  })
              }
            })
            .catch((error) => {
              console.error('Error removing document: ', error)
            })
        })
    },
    onDeleteMeteoStationSensor (meteoStation, row) {
      this.$q
        .dialog({
          title: 'Delete',
          message: 'Confirm deletion.',
          ok: true,
          cancel: true
        })
        .onOk(() => {
          const docRef = this.$db
            .collection('/HUB/LILrTQUpzv3aqUewoS5S/Module1')
            .doc(meteoStation.UIDMeteoStation)
            .collection('/Sensor')
            .doc(row.UIDMeteoStationSensor)
          docRef
            .delete()
            .then(() => {
              const index = meteoStation.meteoStationSensors.findIndex(
                (meteoStationSensor) =>
                  meteoStationSensor.UIDMeteoStationSensor ===
                  row.UIDMeteoStationSensor
              )
              if (index >= 0) {
                meteoStation.meteoStationSensors.splice(index, 1)
              }
            })
            .catch((error) => {
              console.error('Error removing document: ', error)
            })
        })
    },
    onError (errorMessage) {
      this.uploadButton = false
      console.log('ERROR545: ', errorMessage)
      this.$q.notify({
        message: errorMessage,
        icon: 'warning',
        color: 'negative',
        position: 'bottom',
        timeout: 3000
      })
    },
    download (type, compressionRate) {
      this.meteoStation.photo.generateBlob((blob) => {
        var url = URL.createObjectURL(blob)
        console.log(url)
        var a = document.createElement('a')
        a.download = 'filename'
        a.href = url
        a.click()
        URL.revokeObjectURL(url)
      }, type, compressionRate)
    },
    test1 () {
      console.log('test1 CALL')
      console.log(this.meteoStation.urlImage)
    },
    uploadCroppedImage (meteoStation) {
      if (!meteoStation.photo.hasImage()) {
        console.log('hasImageFail->', this.initialImage)
        alert('no image to upload')
        return
      }
      meteoStation.photo.generateBlob(
        (blob) => {
          console.log('BLOB-> ', blob)
          if (blob) {
            // console.log('uploadCroppedImage')
            const storageRef = this.$storage.ref()
            const imageRef = storageRef.child(meteoStation.UIDMeteoStation)
            imageRef
              .put(blob)
              .then((snapshot) => {
                snapshot.ref
                  .getDownloadURL()
                  .then((downloadURL) => {
                    var docRef = this.$db
                      .collection('/HUB/LILrTQUpzv3aqUewoS5S/Module1')
                      .doc(meteoStation.UIDMeteoStation)
                    docRef
                      .update({ urlImage: downloadURL })
                      .then((response) => {
                        console.log('urlImage-> ', downloadURL)
                        meteoStation.urlImage = downloadURL
                        this.initialImage = null
                        this.uploadButton = false
                      })
                      .catch(function (error) {
                        console.error('Error adding document: ', error)
                      })
                  })
                  .catch((error) => {
                    console.error('Get download URL: ', error)
                  })
              })
              .catch((error) => {
                console.error('Uploading file: ', error)
              })
          } else {
            this.onError('File type mismatch')
          }
        },
        'image/jpeg',
        0.8
      ) // 80% compressed jpeg file
    },
    removeImage (meteoStation) {
      this.uploadButton = false
      if (meteoStation.urlImage) {
        const storageRef = this.$storage.ref()
        const imageRef = storageRef.child(meteoStation.UIDMeteoStation)
        imageRef
          .delete()
          .then(() => {
            var docRef = this.$db
              .collection('/HUB/LILrTQUpzv3aqUewoS5S/Module1')
              .doc(meteoStation.UIDMeteoStation)
            docRef
              .update({ urlImage: null })
              .then((response) => {
                meteoStation.urlImage = null
              })
              .catch((error) => {
                console.error('Error adding document: ', error)
              })
          })
          .catch((error) => {
            console.error('Error deleting image: ', error)
          })
      }
    },
    openCamera (meteoStation) {
      if (typeof navigator.camera !== 'undefined') {
        const onSuccess = (imageData) => {
          const image = new Image()
          console.log('[IMAGE]-> ', image)
          // Notice: it's necessary to set "crossorigin" attribute before "src" attribute.
          image.setAttribute('crossOrigin', 'anonymous')
          image.src = 'data:image/jpeg;base64,' + imageData
          this.initialImage = image
          console.log('[IMAGE]-> ', image)
          meteoStation.photo.refresh()
          this.uploadButton = true
        }
        // onError Callback receives a PositionError object
        const onError = (error) => {
          if (typeof error.code !== 'undefined') {
            alert('code: ' + error.code + '\n' +
                'message: ' + error.message + '\n')
          }
        }
        navigator.camera.getPicture(onSuccess, onError, { destinationType: navigator.camera.DestinationType.DATA_URL, encodingType: navigator.camera.EncodingType.JPEG })
      }
    },
    publish (meteoStation) {
      console.log('[INFO]-> CALL123', this.initialImage)
      var docRef = this.$db
        .collection('/HUB/LILrTQUpzv3aqUewoS5S/Module1')
        .doc(meteoStation)
      docRef
        .update({
          urlImage: this.initialImage
        })
      meteoStation.photo.refresh()
      this.uploadButton = true
      // var vm = this
      // this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/Module1').doc('4yNQn39URSVHTyFekhY3')
      //   .onSnapshot(function (snapshot) {
      //     snapshot.forEach(function (doc) {
      //       console.log('[INFO]->', doc.data().urlImg)
      //       // vm.userbalance = doc.data().Balance
      //       // vm.Username = doc.data().Username
      //       // vm.imageSrc = doc.data().imgUrl
      //     })
      //   })
    },
    getGeolocation (meteoStation) {
      console.log('opencords')
      const onSuccess = function (position) {
        meteoStation.geoPoint.Latitude = position.coords.latitude
        meteoStation.geoPoint.Longitude = position.coords.longitude
      }
      const onError = function (error) {
        alert('code: ' + error.code + '\n' +
          'message: ' + error.message + '\n')
      }
      navigator.geolocation.getCurrentPosition(onSuccess, onError,
        {
          timeout: 5000
        })
    }
  }
}
</script>
