...
<div class="text-center q-pa-xs">
<croppa
ref="croppa"
:width="150"
:height="150"
:accept="'image/*'"
:prevent-white-space="true"
:placeholder-font-size="18"
:file-size-limit="1 * 1024 * 1024"
:quality="1"
:remove-button-color="'red'"
:remove-button-size="30"
placeholder="Choose image"
:disable-drag-to-move="!uploadButton"
v-model="meteoStation.photo"
:initial-image="meteoStation.urlImage?meteoStation.urlImage:initial
Image?initialImage:null"
@image-remove="removeImage(meteoStation)"
@file-type-mismatch="onError('File type mismatch')"
@file-size-exceed="onError('File size exceed')"
@file-choose="uploadButton=true"
>
</croppa>
<q-btn
flat
color="primary"
v-if="uploadButton"
class="full-width"
@click="uploadCroppedImage(meteoStation)"
label="Set image"
icon="image"
/>
<q-btn
flat
color="primary"
v-if="!meteoStation.urlImage && $q.platform.is.mobile"
class="full-width"
@click="openCamera(meteoStation)"
icon="camera_alt"
/>
</div>
...
<div class="row">
<div class="col">
<q-input
ref="Latitude"
:error="!meteoStation.geoPoint.Latitude &&
meteoStation.geoPoint.Latitude !== 0"
error-message="Latitude is required."
label="Latitude"
type="number"
v-model.number="meteoStation.geoPoint.Latitude"
/>
</div>
<div class="col">
<q-input
ref="Longitude"
:error="!meteoStation.geoPoint.Longitude &&
meteoStation.geoPoint.Longitude !== 0"
error-message="Longitude is required."
label="Longitude"
type="number"
v-model.number="meteoStation.geoPoint.Longitude"
/>
</div>
</div>
<div
class="row"
v-if="$q.platform.is.mobile"
>
<div class="col">
<q-btn
dense
class="full-width"
color="primary"
icon="location_searching"
label="Search location"
@click="getGeolocation(meteoStation)"
/>
</div>
</div>
...












openCamera (meteoStation) {
if (typeof navigator.camera !== 'undefined') {
let onSuccess = (imageData) => {
let image = new Image()
// Notice: it's necessary to set "crossorigin" attribute
before "src" attribute.
image.setAttribute('crossOrigin', 'anonymous')
image.src = 'data:image/jpeg;base64,' + imageData
this.initialImage = image
meteoStation.photo.refresh()
this.uploadButton = true
}
// onError Callback receives a PositionError object
//
let onError = (error) => {
if (typeof error.code !== 'undefined') {
alert('code: ' + error.code + '\n' +
'message: ' + error.message + '\n')
}
}
navigator.camera.getPicture(onSuccess, onError, {
destinationType: navigator.camera.DestinationType.DATA_URL,
encodingType: navigator.camera.EncodingType.JPEG })
}
},
getGeolocation (meteoStation) {
let onSuccess = function (position) {
meteoStation.geoPoint.Latitude = position.coords.latitude
meteoStation.geoPoint.Longitude = position.coords.longitude
// alert('Latitude: ' + position.coords.latitude + '\n' +
// 'Longitude: ' + position.coords.longitude + '\n' +
// 'Altitude: ' + position.coords.altitude + '\n' +
// 'Accuracy: ' + position.coords.accuracy + '\n' +
// 'Altitude Accuracy: ' + position.coords.altitudeAccuracy +
'\n' +
// 'Heading: ' + position.coords.heading + '\n' +
// 'Speed: ' + position.coords.speed + '\n' +
// 'Timestamp: ' + position.timestamp + '\n')
}
// onError Callback receives a PositionError object
//
let onError = function (error) {
alert('code: ' + error.code + '\n' +
'message: ' + error.message + '\n')
}
navigator.geolocation.getCurrentPosition(onSuccess, onError, {
timeout: 5000 })
}
...