<template>
  <q-page class="flex flex-center">
    <img
      alt="Quasar logo"
      src="~assets/quasar-logo-full.svg"
    >
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
console.clear()
console.log('                                                     ')
console.log('                                                     ')
console.log('               AAA               RRRRRRRRRRRRRRRRR   ')
console.log('              A:::A              R::::::::::::::::R  ')
console.log('             A:::::A             R::::::RRRRRR:::::R ')
console.log('            A:::::::A            RR:::::R     R:::::R')
console.log('           A:::::::::A             R::::R     R:::::R')
console.log('          A:::::A:::::A            R::::R     R:::::R')
console.log('         A:::::A A:::::A           R::::RRRRRR:::::R ')
console.log('        A:::::A   A:::::A          R:::::::::::::RR  ')
console.log('       A:::::A     A:::::A         R::::RRRRRR:::::R ')
console.log('      A:::::AAAAAAAAA:::::A        R::::R     R:::::R')
console.log('     A:::::::::::::::::::::A       R::::R     R:::::R')
console.log('    A:::::AAAAAAAAAAAAA:::::A      R::::R     R:::::R')
console.log('   A:::::A             A:::::A   RR:::::R     R:::::R')
console.log('  A:::::A               A:::::A  R::::::R     R:::::R')
console.log(' A:::::A                 A:::::A R::::::R     R:::::R')
console.log('AAAAAAA                   AAAAAAARRRRRRRR     RRRRRRR')
console.log('                                                     ')
</script>
