<template>
  <div class="q-pa-lg row justify-center">
    <div class="col" style="max-width: 900px">
      <q-table
        title="Users"
        :data="sensors"
        :columns="columns"
        row-key="username"
        flat
      >
        <template v-slot:top>
          <q-btn color="primary" label="Add user" @click="onNewRow" />
        </template>
        <template v-slot:body-cell="props">
          <q-td :props="props" class="text-center">
            <div v-if="props.col.name === 'actions'">
              <q-btn
                dense
                color="primary"
                icon="edit"
                @click="onUpdateRow(props.row)"
              />
              <q-btn
                dense
                color="primary"
                icon="delete"
                @click="onDeleteRow(props.row)"
              />
            </div>
            <div v-else>
              {{ props.row[props.col.field] }}
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog v-if="openDialog" v-model="openDialog">
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">User</div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            ref="username"
            :error="!sensor.username"
            error-message="Username is required"
            label="Username"
            v-model="sensor.username"
          />
          <q-input
            ref="email"
            :rules="[ val => emailPattern.test(val)]"
            :error="!sensor.email"
            error-message="Email is required"
            label="Email"
            v-model="sensor.email"
          />
          <q-input
            ref="name"
            label="Name"
            v-model="sensor.name"
          />
          <q-input
            ref="lastname"
            label="Last name"
            v-model="sensor.lastname"
          />
          <q-input
            ref="phonenumber"
            v-mask="'###-####-###'"
            :error="!sensor.phonenumber"
            error-message="Phonenumber is required"
            label="Phone number"
            v-model="sensor.phonenumber"
          />
          <q-input
            ref="password"
            :error="!sensor.password"
            error-message="Password is required"
            :type="'password'"
            label="Password"
            v-model="sensor.password"
          />
          <q-input
            v-mask="'#'"
            :rules="[ val => oi.test(val)]"
            ref="admin"
            :error="!sensor.admin"
            error-message="Is admin? 0=no, 1=yes"
            label="Admin"
            v-model="sensor.admin"
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn color="primary" label="OK" @click="onOKClick" />
          <q-btn color="primary" label="Cancel" @click="onCancelClick" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
export default {
  name: 'SensorsIndex',
  data () {
    return {
      emailPattern: /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/,
      oi: /[0-1]/,
      openDialog: false,
      sensor: null,
      sensorModel: {
        username: null,
        email: null,
        name: null,
        lastname: null,
        phonenumber: null,
        password: null,
        admin: null
      },
      isMounted: false,
      sensors: [],
      columns: [
        {
          name: 'username',
          label: 'Username',
          align: 'username',
          field: 'username',
          sortable: true
        },
        {
          name: 'email',
          label: 'Email',
          align: 'email',
          field: 'email',
          sortable: true
        },
        {
          name: 'name',
          label: 'Name',
          align: 'name',
          field: 'name',
          sortable: true
        },
        {
          name: 'lastname',
          label: 'Last name',
          align: 'lastname',
          field: 'lastname',
          sortable: true
        },
        {
          name: 'phonenumber',
          label: 'Phone number',
          align: 'phonenumber',
          field: 'phonenumber',
          sortable: true
        },
        {
          name: 'password',
          label: 'Password',
          align: 'password',
          field: 'password',
          sortable: true
        },
        {
          name: 'admin',
          label: 'Admin',
          align: 'admin',
          field: 'admin',
          sortable: true
        },
        {
          name: 'actions',
          label: 'Actions',
          align: 'left',
          field: null,
          sortable: false
        }
      ]
    }
  },
  mounted: function () {
    const collectionRef = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/User')
    collectionRef.get().then((rows) => {
      rows.forEach((row) => {
        this.sensors.push(row.data())
      })
      this.isMounted = true
    })
  },
  methods: {
    onNewRow () {
      this.sensor = JSON.parse(JSON.stringify(this.sensorModel))
      // console.log(JSON.parse(JSON.stringify(this.sensorModel)))
      this.openDialog = true
    },
    onOKClick () {
      // console.log('dsadas')
      // const newLocal = 'idSensor'
      if (!this.sensorModel.idSensor) {
        // console.log('duiwh')
        const collectionRef = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/User')
        if (this.sensor.idSensor === null) {
          // collectionRef
          //   .add(this.sensor)
          //   .then((doc) => {
          //     this.sensor.idSensor = doc.id
          //     var docRef = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/User').doc(doc.id)
          //     docRef
          //       .update({ idSensor: doc.id })
          //       .then((response) => {
          //         this.sensor.idSensor = doc.id
          //         this.sensors.push(this.sensor)
          //         this.openDialog = false
          //       })
          //       .catch(function (error) {
          //         console.error('Error adding document: ', error)
          //       })
          //   })
          //   .catch(function (error) {
          //     console.error('Error adding document: ', error)
          //   })
        } else {
          var docRef = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/User').doc(this.sensor.username)
          docRef
            .set(this.sensor)
            .then((response) => {
              const sensor = this.sensors.find(
                (sensor) => sensor.username === this.sensor.username
              )
              if (sensor) {
                for (const attributeName in this.sensor) {
                  sensor[attributeName] = JSON.parse(
                    JSON.stringify(this.sensor[attributeName])
                  )
                }
              }
              this.openDialog = false
              this.sensors = []
              collectionRef.get().then((rows) => {
                rows.forEach((row) => {
                  this.sensors.push(row.data())
                })
              })
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        }
      }
    },
    onCancelClick () {
      this.openDialog = false
    },
    onUpdateRow (sensor) {
      this.sensor = JSON.parse(JSON.stringify(this.sensorModel))
      for (const attributeName in this.sensor) {
        this.sensor[attributeName] = JSON.parse(
          JSON.stringify(sensor[attributeName])
        )
      }
      this.openDialog = true
    },
    onDeleteRow (row) {
      this.$q.dialog({
        title: 'Delete',
        message: 'Confirm deletion.',
        ok: true,
        cancel: true
      })
        .onOk(() => {
          const docRef = this.$db.collection('/HUB/LILrTQUpzv3aqUewoS5S/User').doc(row.username)
          docRef
            .delete()
            .then(() => {
              const index = this.sensors.findIndex(
                (sensor) => sensor.username === row.username
              )
              if (index >= 0) {
                this.sensors.splice(index, 1)
              }
            })
            .catch((error) => {
              console.error('Error removing document: ', error)
            })
        })
    }
  }
}
</script>
